<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Titulo" value="" />
    <add key="DatabaseName" value="" />
    <add key="Evento" value="" />
    <add key="CSVSeparationLetter" value=";" />
    <add key="BackgroundImage" value="" />
  </appSettings>
</configuration>